<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudo Vue</title>

    <style>
        [v-cloak]{
            display: none;
        }
    </style>

</head>
<body>
    
    <div id="app">
        <div v-html="text"></div>
        <fieldset>
            <legend>Dados</legend>
            <p>Nome: {{firstName}}</p>
            <p>Sobrenome: {{lastName}}</p>
            <p>Idade: {{age}}</p>
            <p>{{age >= 18 ? 'Maior de idade' : 'Menor de idade'}}</p>
        </fieldset>

        <fieldset>
            <legend>Methods</legend>
            <button v-on:click="addAge">Idade +1</button>
            <button @click="subAge">Idade -1</button> <!-- v-on:click é o mesmo que @click / 'v-on' pode ser substituido por '@' -->
        </fieldset>

        <fieldset>
            <legend>Computed</legend>
            <p>Nome Completo: {{fullName}}</p>
            <p>Nome Completo: {{fullName}}</p>
            <p>Nome Completo: {{fullName}}</p>


            <p>Nome Completo: {{getFullName()}}</p>
            <p>Nome Completo: {{getFullName()}}</p>
            <p>Nome Completo: {{getFullName()}}</p>
        </fieldset>

        <fieldset>
            <legend>Watcher</legend>
            <label for="address">Endereço: </label>
            <input id="address" type="text" v-model="address">
        </fieldset>

        <fieldset> <!-- A principal diferença entre o 'v-if' e suas variaçoes e o 'v-show' é que, 
                        o primeiro só renderiza no DOM o elemento quando as codições do 'v-if' são verdadeiras 
                        enquanto no 'v-show' o elemento ja está no DOM mas ela escondido por uma classe CSS
                        a dica é usar o 'v-if' e variações em elementos que não são mudados com tanta frequencia
                        enquanto o 'v-show' é para elementos que são alterados com mais frequencia  -->
            <legend>v-if / v-else-if / v-else</legend>
            <label for="nota">Nota</label>
            <input id="nota" type="text" v-model="nota">
    
            <p v-if="nota < 60">Reprovado</p>
            <p v-else-if="nota >= 60 && nota < 98">Aprovado</p>
            <p v-else-if="nota >= 98">Aprovado com Excelencia</p>
            <p v-else>Valor invalido</p>
        </fieldset>
        
        <fieldset>
            <legend>v-show</legend>
            <button v-show="show" @click="show = false">Login</button>
            <button v-show="!show" @click="show = true">Logout</button>
        </fieldset>

        <fieldset>
            <legend>v-text</legend>
            <p v-text="firstName"></p> <!-- Mesma coisa que usar o '{{}}' -->
            <p>{{firstName}}</p>
        </fieldset>

        <fieldset>
            <legend>v-html</legend>
            <p v-html="text"></p>
        </fieldset>

        <fieldset>
            <legend>v-once</legend>
            <p v-once>{{count}}</p> <!-- Só carrega a primeira vez e depois deixa de verificar as mudanças na variavel -->
            <p>{{count}}</p>
            <button @click="count++">Adicionar</button>
        </fieldset>

        <fieldset>
            <legend>v-for</legend>
            <label for="">Marcas - Array</label>
            <ul>
                <li v-for="marca in marcas">{{marca}}</li>
            </ul>

            <label for="">Carros - Array of Object</label>
            <ul>
                <li v-for="carro in carros">{{carro.nome}} - {{carro.marca}}</li>
            </ul>

            <label for="">Carro - Object</label>
            <ul>
                <li v-for="(value, key, index) in carro">{{value}} - {{key}} - {{index}}</li>
            </ul>
        </fieldset>

        <fieldset>
            <legend>v-bind</legend>
            <a href="https://www.google.com">Google</a>
            <br/>
            <a :href="url" v-bind:[property]="propertyValue">Google</a> <!-- 'v-bind' pode ser abreviado utilizando ':' 
                                                                              só podem ser usados para url  -->
        </fieldset>

        <fieldset>
            <legend>v-model</legend>
            <input type="text" v-model="firstName">
            <p>Primeiro nome: {{firstName}}</p>
            
            <hr>

            <textarea  v-model="text" cols="60" rows="1"></textarea>
            <p v-html="text"></p>

            <hr>

            <input type="checkbox" v-model="checked" id="">
            <p>{{checked}}</p>

            <hr>

            <input type="radio" value="Um" id="um" v-model="radioValue">
            <label for="um">Um</label>
            <br>
            <input type="radio" value="Dois" id="dois" v-model="radioValue">
            <label for="dois">Dois</label>
            
            <p>{{radioValue}}</p>

            <hr>

            <select v-model="selectValue">
                <option :value="carro" v-for="carro in carros">{{carro.nome}} - {{carro.marca}}</option>
            </select>

            <p>Carro selecionado: {{selectValue ? `${selectValue.nome} - ${selectValue.marca}` : ''}}</p>
        </fieldset>

        <fieldset>
            <legend>v-cloak</legend>
            <p>{{firstName}}</p>
            <p v-cloak>{{firstName}}</p> <!-- 'v-cloak' é um atributo que some depois do carregamento completo da pagina, o que possibilita colocar algum css condicional. 
                                                por exemplo, display none enquanto a pagina ainda não carrega completamente-->
        </fieldset>

        
        <fieldset>
            <legend>Eventos</legend>
            <button @click="eventDefault('@click')">eventDefault</button>
            <hr>
            <button @click="eventDefault">eventDefault sem parametro</button>
            <hr>
            <button @click="eventDefaultEvent('click', $event)">eventDefault com parametro de evento</button>
            <hr>
            <button @dblclick="eventDefault('@click')">eventDefault click duplo</button>
            <hr>
            <button @click.left="eventDefault('@click')">eventDefault left</button>
            <hr>
            <button @click.right.prevent="eventDefault('@click')">eventDefault right</button>
            <hr>
            <button @click.middle="eventDefault('@click')">eventDefault middle</button>
            <hr>
            <p @mouseenter="eventType" @mouseleave="eventType">Mouse hover here</p>
            <hr>
            <a :href="url" @click.prevent="showAlert('Bloqueado!')">GOOGLE</a>
            <hr>
            <a :href="url" @click.prevent.once="showAlert('Bloqueado!')">GOOGLE</a>
            <hr>
            <div>
                <input type="text" @keyup.enter="eventKey" placeholder="Press Enter">
                <hr>
                <input type="text" @keyup.delete="eventKey" placeholder="Press Delete">
                <hr>
                <input type="text" @keyup.esc="eventKey" placeholder="Press ESC">
                <hr>
                <input type="text" @keyup.space="eventKey" placeholder="Press Space">
                <hr>
                <input type="text" @keyup.up="eventKey" placeholder="Press up">
                <hr>
                <input type="text" @keyup.down="eventKey" placeholder="Press down">
                <hr>
                <input type="text" @keyup.left="eventKey" placeholder="Press left">
                <hr>
                <input type="text" @keyup.right="eventKey" placeholder="Press right">
                <hr>
                <input type="text" @keydown.tab="eventKey" placeholder="Press tab">
                <hr>
                <input type="text" @keydown.ctrl="eventKey" placeholder="Press ctrl">
                <hr>
            </div>
            <p @click.ctrl="eventDefault('Click + CTRL')">Click + CTRL</p>
            <hr>
            <p @click.ctrl.exact="eventDefault('Click + CTRL (EXACT)')">Click + CTRL (EXACT)</p>
            <hr>
            <p @click.alt="eventDefault('Click + ALT')">Click + ALT</p>
            <hr>
            <p @click.shift="eventDefault('Click + SHIFT')">Click + SHIFT</p>
        </fieldset>

    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const app = {
            data(){
                return{
                    text: "<h2 style='color:blue'>Hello Word Vue3!</h2>",
                    firstName: "John",
                    lastName: "Snow",
                    age: 30,
                    address:'',
                    show: true,
                    nota: 0,
                    count: 0,
                    marcas:["Renault", "Fiat", "Ford"],
                    carros:[{ nome:"Ka", marca:"Ford" }, { nome:"Palio", marca:"Fiat" }, { nome:"Sandero", marca:"Renault" }],
                    carro:{ nome:"Ka", marca:"Ford", ano:2023, km: 20000 },
                    url:"https://www.google.com",
                    property:"title",
                    propertyValue:"Clique aqui",
                    checked:false,
                    radioValue:"",
                    selectValue:""
                }
            },
            methods:{
                addAge(){
                    this.age++;
                },
                subAge: function(){ // a declaração de metodo tambem pode ser assim
                    this.age--;
                },
                getFullName(){
                    // console.log("method")
                    return `${this.firstName} ${this.lastName}`
                },
                eventDefault(data){
                    console.log(data);
                },
                eventDefaultEvent(data, event){
                    console.log(data);
                    console.log(event);
                },
                eventType(event){
                    console.log(event.type)
                },
                showAlert(alerta){
                  alert(alerta)
                },
                eventKey(event){
                    console.log(event.type)
                }
            },
            computed:{ // a principal diferença entre methods e computed
                       // é que o computed guarda o valor em cache quando é chamado pela primeira vez, não precisando ser executado novamente para o valor é pegue
                       // enquanto os methods são executados poda vez que são chamados
                fullName(){
                    // console.log("computed")
                    return `${this.firstName} ${this.lastName}`
                }
            },
            watch:{
                address(newValue, oldValue){
                    console.log(`Novo valor: ${newValue}`);
                    console.log(`Antigo valor: ${oldValue}`);
                }
            }
        }

        const vm = Vue.createApp(app).mount('#app')

    </script>

</body>
</html>